*
{
    background-color:blanchedalmond;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
}

.addBook
{
    text-align: center;
}

h1, h2
{
    font-family: Nunito;
    text-align: center;
}

.form
{
    padding: 30px 40px;
    box-sizing: border-box;
    align-items: center;
}
.input-control
    {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    }
.input-control label
    {
    display: inline-block;
    margin-bottom: 5px;
    }
.input-control input
    {
    height: 24px;
    width: 50%;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 18px;
    }
.input-control.success input
    {
    border-color: green;
    }
.input-control.error input
    {
    border-color: red;
    }
.input-control i
    {
    position: relative;
    align-items:center;
    font-size: 13px;
    visibility: hidden;
    }
.input-control.success i.fa-thumbs-up
    {
    visibility: visible;
    color: green;
    }
.input-control.error i.fa-thumbs-down
    {
    visibility: visible;
    color: red;
    }
.input-control small
    {
    visibility: hidden;
    position: relative;
    font-size: 13px;
    }
.input-control.error small
    {
    visibility: visible;
    color: red;
    }
.form input[type="button"]
    {
    background-color: blueviolet;
    border: 4xp solid #f0f0f0;
    color: #f0f0f0;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
    border-radius: 4px;
    }


#img-unav
{
    height: 20em;
    width: 20em;
}

#output_div
{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: flex-start;
}

.book_box
{
    max-width: 40%;
    width: 700px;
    border: 2px blue solid;
    display: block;
    padding: 3em;
    margin: 2em;
}

.book_desc_span
{
    display: block;
    color: red;
    min-width: 100%;
    min-height: 25em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.fa-bookmark
{
    float:right;
}

.storage
{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    width: 500px;
    max-width: 80%;
    background-color: white;
}

.storage.active
{
    transform: translate(-50%, -50%) scale(1);

}

.storage__header
{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.storage__title
{
    font-size: 1.25rem;
    font-weight: bold;
}

.close-storage-button
{
    cursor: pointer;
    border:none;
    outline:none;
    background:none;
    font-size: 1.25rem;
    font-weight: bold;
}

.storage__body
{
    padding: 10px 15px;
}

#storage__overlay
{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#storage__overlay.active
{
    opacity: 1;
    pointer-events: all;
}
