*
{
    background-color:blanchedalmond;
}

h1, h2
{
    font-family: Nunito;
    text-align: center;
}

.addBook
{
    text-align: center;
}

.searchBook
{
    text-align: left;
}

#img-unav
{
    height: 20em;
    width: 20em;
}

#book-item
{
    align-items: center;
    padding: 5em;
}